<div>
  <h2 id="page-heading" data-cy="SubCategoryHeading">
    <span jhiTranslate="jhipsterSampleApplication1App.subCategory.home.title">Sub Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplication1App.subCategory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sub-category"
        [routerLink]="['/sub-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplication1App.subCategory.home.createLabel"> Create a new Sub Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subCategories?.length === 0">
    <span jhiTranslate="jhipsterSampleApplication1App.subCategory.home.notFound">No subCategories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subCategories && subCategories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photoUrl">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.photoUrl">Photo Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.photo">Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="voiceUrl">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.voiceUrl">Voice Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="voiceFile">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.voiceFile">Voice File</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="masterDescription">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.masterDescription">Master Description</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="masterAdvice">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.masterAdvice">Master Advice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="accountType">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.accountType">Account Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category.id">
            <span jhiTranslate="jhipsterSampleApplication1App.subCategory.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subCategory of subCategories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sub-category', subCategory.id, 'view']">{{ subCategory.id }}</a>
          </td>
          <td>{{ subCategory.title }}</td>
          <td>{{ subCategory.photoUrl }}</td>
          <td>
            <a
              *ngIf="subCategory.photo"
              (click)="openFile(subCategory.photo, subCategory.photoContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="subCategory.photo">{{ subCategory.photoContentType }}, {{ byteSize(subCategory.photo) }}</span>
          </td>
          <td>{{ subCategory.voiceUrl }}</td>
          <td>
            <a
              *ngIf="subCategory.voiceFile"
              (click)="openFile(subCategory.voiceFile, subCategory.voiceFileContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="subCategory.voiceFile">{{ subCategory.voiceFileContentType }}, {{ byteSize(subCategory.voiceFile) }}</span>
          </td>
          <td>{{ subCategory.masterDescription }}</td>
          <td>{{ subCategory.masterAdvice }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplication1App.AccountType.' + subCategory.accountType }}">{{ subCategory.accountType }}</td>
          <td>
            <div *ngIf="subCategory.category">
              <a [routerLink]="['/category', subCategory.category?.id, 'view']">{{ subCategory.category?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sub-category', subCategory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sub-category', subCategory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="subCategories && subCategories.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
