<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="practice">
      <h2 data-cy="practiceDetailsHeading"><span jhiTranslate="jhipsterSampleApplication1App.practice.detail.title">Practice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ practice.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.title">Title</span></dt>
        <dd>
          <span>{{ practice.title }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.photoUrl">Photo Url</span></dt>
        <dd>
          <span>{{ practice.photoUrl }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.photo">Photo</span></dt>
        <dd>
          <div *ngIf="practice.photo">
            <a (click)="openFile(practice.photo, practice.photoContentType)" jhiTranslate="entity.action.open">open</a>
            {{ practice.photoContentType }}, {{ byteSize(practice.photo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.voiceUrl">Voice Url</span></dt>
        <dd>
          <span>{{ practice.voiceUrl }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.voiceFile">Voice File</span></dt>
        <dd>
          <div *ngIf="practice.voiceFile">
            <a (click)="openFile(practice.voiceFile, practice.voiceFileContentType)" jhiTranslate="entity.action.open">open</a>
            {{ practice.voiceFileContentType }}, {{ byteSize(practice.voiceFile) }}
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.masterDescription">Master Description</span></dt>
        <dd>
          <span>{{ practice.masterDescription }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.masterAdvice">Master Advice</span></dt>
        <dd>
          <span>{{ practice.masterAdvice }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.briefMasterAdvice">Brief Master Advice</span></dt>
        <dd>
          <span>{{ practice.briefMasterAdvice }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplication1App.practice.accountType">Account Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplication1App.AccountType.' + practice.accountType }}">{{ practice.accountType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/practice', practice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
